In [1]:
import numpy as np
import pandas as pd

In [2]:
import matplotlib.pyplot as plt
%matplotlib notebook

from jupyterthemes import jtplot
jtplot.style()

In [3]:
dfx = pd.read_csv('./data/logistic_x.txt',sep = '\ +',engine = 'python',header = None)
dfx

           0         1
0   1.343250 -1.331148
1   1.820553 -0.634668
2   0.986321 -1.888576
3   1.944373 -1.635452
4   0.976734 -1.353315
..       ...       ...
94  4.774854  0.099415
95  5.827485 -0.690058
96  2.289474  1.970760
97  2.494152  1.415205
98  2.084795  1.356725

[99 rows x 2 columns]

In [4]:
dfx.shape

(99, 2)

In [5]:
dfy = pd.read_csv('./data/logistic_y.txt',engine = 'python',header = None)
dfy

      0
0  -1.0
1  -1.0
2  -1.0
3  -1.0
4  -1.0
..  ...
94  1.0
95  1.0
96  1.0
97  1.0
98  1.0

[99 rows x 1 columns]

In [6]:
np.unique(dfy)

array([-1.,  1.])

In [7]:
dfx.columns = ['$x{_1}$','$x{_2}$']
dfx.append([1,1])
dfx

     $x{_1}$   $x{_2}$
0   1.343250 -1.331148
1   1.820553 -0.634668
2   0.986321 -1.888576
3   1.944373 -1.635452
4   0.976734 -1.353315
..       ...       ...
94  4.774854  0.099415
95  5.827485 -0.690058
96  2.289474  1.970760
97  2.494152  1.415205
98  2.084795  1.356725

[99 rows x 2 columns]

In [8]:
#dfx = dfx.append(pd.DataFrame([[1,1]],columns = dfx.columns,index = [0]),ignore_index=False)

In [9]:
pd.DataFrame([[1,1]],columns = dfx.columns).append(dfx,ignore_index=True)

     $x{_1}$   $x{_2}$
0   1.000000  1.000000
1   1.343250 -1.331148
2   1.820553 -0.634668
3   0.986321 -1.888576
4   1.944373 -1.635452
..       ...       ...
95  4.774854  0.099415
96  5.827485 -0.690058
97  2.289474  1.970760
98  2.494152  1.415205
99  2.084795  1.356725

[100 rows x 2 columns]